.App {
  text-align: center;
  height: 800px;
  margin: 20px;
  padding: 50px;
  background-color: #F5F8FA;
}

#demo1 {
  padding: 50px;
}

.axis {
  padding: 20px;
}

.tick {
  height: 40px;
}

.axis text {
  font-family: Roboto;
  font-size: 20px;
}
